<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="list">
            <div class="item" ng-click="todos()">
                <button class="button button-assertive button-full">
                    todos
                </button>
            </div>
            <div class="item" ng-click="twitter()">
                <button class="button button-energized button-full">
                    twitter
                </button>
            </div>
            <div class="item" ng-click="facebook()">
                <button class="button button-calm button-full">
                    facebook
                </button>
            </div>
            <div class="item" ng-click="whatsapp()">
                <button class="button button-balanced button-full">
                    whatsapp
                </button>
            </div>
            <div class="item" ng-click="sms()">
                <button class="button button-royal button-full">
                    sms
                </button>
            </div>
            <div class="item" ng-click="email()">
                <button class="button button-dark button-full">
                    email
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
